# Pandas Introduction - Part 1

### Agenda

Part 1
* Intro
    * Background
    * Creating a dataframes and a series
    * Displaying dataframes
* Moving data - imports & exports
* Selecting data
* Data types
* Modifying data
* Sorting data
* Math operations
* Descriptive statistics and profiling data

Reference material
* https://medium.com/dunder-data/minimally-sufficient-pandas-a8e67f2a2428
* https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c
* https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-39e811c81a0c
* https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-part-3-d5704b4b9116
* https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-part-4-c4216f84d388
* https://tomaugspurger.github.io/modern-1-intro.html

# Introducing Pandas and the DataFrame
* Background
* initializing with pd.DataFrame() and pd.Series()
* df.head(), df.tail()
* DataFrame from Python list or dictionary
* pd.read_csv()
* df.to_csv()

### What is `pandas`
`pandas` is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

### Pandas DataFrame
    # a dataframe is basically a 2-dimensional table that can be composed of multiple data types
    # dataframes have an "index" property, which is a built-in logical key
        # the "index" can be useful for joins and plots
        # suggestion: don't worry too much about the index when starting out
        # IMO: sometimes pandas tries to be too smart with the index, which can lead to unpredictability/confusion

### Pandas Series
    # one-dimensional table (single column)
    # some pandas functionality only works or make sense in a 1-d contex

**DataFrame and Series examples**
![image.png](https://geo-python.github.io/site/_images/pandas-structures-annotated.png)

**DataFrame Terms**
![image.png](https://miro.medium.com/max/2992/1*aJJjpCHMNVyfM3UIJZyYcw.png)

### Pandas/NumPy background and use cases
* pandas dataframes are made up of blocks of numpy arrays. This allows for data sets with many types.
    * typically, numpy arrays must be comprised of objects of the same type
    * ex: an array of floats only, array of ints, etc)
* tl;dr, numpy and pandas are faster than standard Python for numeric computing, because they encourage minimal use of pointer/reference-based data types and explicit loops
    * numpy physically stores array elements near each other in RAM memory. 
        * Python lists store pointer references, which come with some overhead
    * in numpy "vectorized" operations, loops are pushed down to C level, which is faster than a normal Python loop
* In-memory (RAM-based) computation is generally faster than reading from disk
    * however, RAM is limited to "medium" data sizes (ex: 16-32gb RAM PC)
    * SQL databases are heavily optimized for large data sets, so a more common pattern is 
        to first aggregate or limit "big" data in SQL/otherDB
    * then perform analytical manipulations in a language like Python/R

![image.png](https://www.dataquest.io/wp-content/uploads/2019/01/df_blocks.png)

In [1]:
import os
import pandas as pd
import seaborn as sns

import utils
utils.prep_example_data()

Getting CSV files from seaborn in ./data/ directory

C:\Users\pzuradzki\AppData\Local\Continuum\miniconda3\envs\dev\lib\site-packages\seaborn\utils.py:384: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file C:\Users\pzuradzki\AppData\Local\Continuum\miniconda3\envs\dev\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

./data/anscombe.csv
./data/attention.csv
./data/brain_networks.csv
./data/car_crashes.csv
./data/diamonds.csv
./data/dots.csv
./data/exercise.csv
./data/flights.csv
./data/fmri.csv
./data/gammas.csv
./data/iris.csv
./data/mpg.csv
./data/planets.csv
./data/tips.csv
./data/titanic.csv

In [2]:
# list contents
print(os.listdir())
print('\n')
print(os.listdir('data'))

['.ipynb_checkpoints', 'data', 'oop.py', 'pandas-intro-part-1.ipynb', 'pandas-intro-part-2.ipynb', 'ReadMe.md', 'solutions', 'utils.py', '__pycache__']


['anscombe.csv', 'attention.csv', 'brain_networks.csv', 'car_crashes.csv', 'diamonds.csv', 'Divvy_Trips_2019_Q1.csv', 'Divvy_Trips_2019_Q2.csv', 'Divvy_Trips_2019_Q3.csv', 'Divvy_Trips_2019_Q4.csv', 'dots.csv', 'exercise.csv', 'flights.csv', 'fmri.csv', 'gammas.csv', 'iris.csv', 'iris_copy.csv', 'mpg.csv', 'planets.csv', 'tips.csv', 'titanic.csv']

In [3]:
# initialize empty dataframe
    # might consider doing this if you're appending/concatenating data sets together 
    # but don't want to explicitiy code the # of items if it may change 

df = pd.DataFrame()

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
ser = pd.Series()

C:\Users\pzuradzki\AppData\Local\Continuum\miniconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [6]:
type(ser)

pandas.core.series.Series

In [7]:
# from data as Python list of lists
headers = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
data_lol = [[5.1, 3.5, 1.4, 0.2, 'setosa'],
         [4.9, 3.0, 1.4, 0.2, 'setosa'],
         [4.7, 3.2, 1.3, 0.2, 'setosa'],
         [4.6, 3.1, 1.5, 0.2, 'setosa'],
         [5.0, 3.6, 1.4, 0.2, 'setosa'],
         [5.4, 3.9, 1.7, 0.4, 'setosa'],
         [4.6, 3.4, 1.4, 0.3, 'setosa'],
         [5.0, 3.4, 1.5, 0.2, 'setosa'],
         [4.4, 2.9, 1.4, 0.2, 'setosa'],
         [4.9, 3.1, 1.5, 0.1, 'setosa']]


df = pd.DataFrame(data_lol, columns=headers)
df

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [8]:
# from Python dictionary
# 5 rows of data (items 0-4) with 5 columns

data_dict = {0: {'petal_length': 1.4,
             'petal_width': 0.2,
             'sepal_length': 5.1,
             'sepal_width': 3.5,
             'species': 'setosa'},
         1: {'petal_length': 1.4,
             'petal_width': 0.2,
             'sepal_length': 4.9,
             'sepal_width': 3.0,
             'species': 'setosa'},
         2: {'petal_length': 1.3,
             'petal_width': 0.2,
             'sepal_length': 4.7,
             'sepal_width': 3.2,
             'species': 'setosa'},
         3: {'petal_length': 1.5,
             'petal_width': 0.2,
             'sepal_length': 4.6,
             'sepal_width': 3.1,
             'species': 'setosa'},
         4: {'petal_length': 1.4,
             'petal_width': 0.2,
             'sepal_length': 5.0,
             'sepal_width': 3.6,
             'species': 'setosa'}}

df = pd.DataFrame(data_dict).T
df

  petal_length petal_width sepal_length sepal_width species
0          1.4         0.2          5.1         3.5  setosa
1          1.4         0.2          4.9           3  setosa
2          1.3         0.2          4.7         3.2  setosa
3          1.5         0.2          4.6         3.1  setosa
4          1.4         0.2            5         3.6  setosa

In [9]:
# initialize dataframe by reading from data source
    # pd.read_csv, pd.read_excel, pd.read_sql, etc

df = pd.read_csv('data/iris.csv')

In [10]:
# exporting
df.to_csv('./data/iris_copy.csv')

# need to import openpyxl
# df.to_excel('./data/iris_copy.xlsx')

# list contents in data directory
os.listdir('data')

['anscombe.csv',
 'attention.csv',
 'brain_networks.csv',
 'car_crashes.csv',
 'diamonds.csv',
 'Divvy_Trips_2019_Q1.csv',
 'Divvy_Trips_2019_Q2.csv',
 'Divvy_Trips_2019_Q3.csv',
 'Divvy_Trips_2019_Q4.csv',
 'dots.csv',
 'exercise.csv',
 'flights.csv',
 'fmri.csv',
 'gammas.csv',
 'iris.csv',
 'iris_copy.csv',
 'mpg.csv',
 'planets.csv',
 'tips.csv',
 'titanic.csv']

In [11]:
# when un-sure on options available, use built-in help() docs or check library docs
# ex: https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html

# read_csv has a lot of optional parameters
    # for setting data types (ex: for efficiency and formatting purposes)
    # specifying delimeter
    # default behavior with Null values

help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.
    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

In [12]:
# use .head() or .tail() to inspect first or last 5 records
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [14]:
# you can override the default to show more or fewer records

df.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [15]:
df.index

RangeIndex(start=0, stop=150, step=1)

Note  `df.reset_index()` vs. `df = df.reset_index()`.

Pandas operations do over-ride your data by default ("in-place" operations).

You must re-assign the variable (IMO: more idiomatic) or use inplace=True paramater.

The following are the same. IMO: first method is more "Pythonic"/consistent with generic Python re-assignment.

```python
df = df.reset_index()
df.reset_index(inplace=True)
```

In [16]:
# index is the logical key (/granularity of the dataset) 
# that can simplify some joins and plotting purposes
# if it's a column you plan to do any analysis on, I'd suggest pulling it out by default

df = df.reset_index()

In [17]:
df

     index  sepal_length  sepal_width  petal_length  petal_width    species
0        0           5.1          3.5           1.4          0.2     setosa
1        1           4.9          3.0           1.4          0.2     setosa
2        2           4.7          3.2           1.3          0.2     setosa
3        3           4.6          3.1           1.5          0.2     setosa
4        4           5.0          3.6           1.4          0.2     setosa
..     ...           ...          ...           ...          ...        ...
145    145           6.7          3.0           5.2          2.3  virginica
146    146           6.3          2.5           5.0          1.9  virginica
147    147           6.5          3.0           5.2          2.0  virginica
148    148           6.2          3.4           5.4          2.3  virginica
149    149           5.9          3.0           5.1          1.8  virginica

[150 rows x 6 columns]

In [18]:
# other handy dataframe methods

# df.to_clipboard()
# df.to_clipboard(index=False)
# df.read_clipboard()

In [19]:
# get column names

# df.columns
df.columns.tolist()

['index',
 'sepal_length',
 'sepal_width',
 'petal_length',
 'petal_width',
 'species']

In [20]:
# if you need to convert dataframes back to python objects for some reason...

df.values

array([[0, 5.1, 3.5, 1.4, 0.2, 'setosa'],
       [1, 4.9, 3.0, 1.4, 0.2, 'setosa'],
       [2, 4.7, 3.2, 1.3, 0.2, 'setosa'],
       [3, 4.6, 3.1, 1.5, 0.2, 'setosa'],
       [4, 5.0, 3.6, 1.4, 0.2, 'setosa'],
       [5, 5.4, 3.9, 1.7, 0.4, 'setosa'],
       [6, 4.6, 3.4, 1.4, 0.3, 'setosa'],
       [7, 5.0, 3.4, 1.5, 0.2, 'setosa'],
       [8, 4.4, 2.9, 1.4, 0.2, 'setosa'],
       [9, 4.9, 3.1, 1.5, 0.1, 'setosa'],
       [10, 5.4, 3.7, 1.5, 0.2, 'setosa'],
       [11, 4.8, 3.4, 1.6, 0.2, 'setosa'],
       [12, 4.8, 3.0, 1.4, 0.1, 'setosa'],
       [13, 4.3, 3.0, 1.1, 0.1, 'setosa'],
       [14, 5.8, 4.0, 1.2, 0.2, 'setosa'],
       [15, 5.7, 4.4, 1.5, 0.4, 'setosa'],
       [16, 5.4, 3.9, 1.3, 0.4, 'setosa'],
       [17, 5.1, 3.5, 1.4, 0.3, 'setosa'],
       [18, 5.7, 3.8, 1.7, 0.3, 'setosa'],
       [19, 5.1, 3.8, 1.5, 0.3, 'setosa'],
       [20, 5.4, 3.4, 1.7, 0.2, 'setosa'],
       [21, 5.1, 3.7, 1.5, 0.4, 'setosa'],
       [22, 4.6, 3.6, 1.0, 0.2, 'setosa'],
       [23, 5.1, 3.3, 1.7, 0.5, 'setosa'],
       [24, 4.8, 3.4, 1.9, 0.2, 'setosa'],
       [25, 5.0, 3.0, 1.6, 0.2, 'setosa'],
       [26, 5.0, 3.4, 1.6, 0.4, 'setosa'],
       [27, 5.2, 3.5, 1.5, 0.2, 'setosa'],
       [28, 5.2, 3.4, 1.4, 0.2, 'setosa'],
       [29, 4.7, 3.2, 1.6, 0.2, 'setosa'],
       [30, 4.8, 3.1, 1.6, 0.2, 'setosa'],
       [31, 5.4, 3.4, 1.5, 0.4, 'setosa'],
       [32, 5.2, 4.1, 1.5, 0.1, 'setosa'],
       [33, 5.5, 4.2, 1.4, 0.2, 'setosa'],
       [34, 4.9, 3.1, 1.5, 0.2, 'setosa'],
       [35, 5.0, 3.2, 1.2, 0.2, 'setosa'],
       [36, 5.5, 3.5, 1.3, 0.2, 'setosa'],
       [37, 4.9, 3.6, 1.4, 0.1, 'setosa'],
       [38, 4.4, 3.0, 1.3, 0.2, 'setosa'],
       [39, 5.1, 3.4, 1.5, 0.2, 'setosa'],
       [40, 5.0, 3.5, 1.3, 0.3, 'setosa'],
       [41, 4.5, 2.3, 1.3, 0.3, 'setosa'],
       [42, 4.4, 3.2, 1.3, 0.2, 'setosa'],
       [43, 5.0, 3.5, 1.6, 0.6, 'setosa'],
       [44, 5.1, 3.8, 1.9, 0.4, 'setosa'],
       [45, 4.8, 3.0, 1.4, 0.3, 'setosa'],
       [46, 5.1, 3.8, 1.6, 0.2, 'setosa'],
       [47, 4.6, 3.2, 1.4, 0.2, 'setosa'],
       [48, 5.3, 3.7, 1.5, 0.2, 'setosa'],
       [49, 5.0, 3.3, 1.4, 0.2, 'setosa'],
       [50, 7.0, 3.2, 4.7, 1.4, 'versicolor'],
       [51, 6.4, 3.2, 4.5, 1.5, 'versicolor'],
       [52, 6.9, 3.1, 4.9, 1.5, 'versicolor'],
       [53, 5.5, 2.3, 4.0, 1.3, 'versicolor'],
       [54, 6.5, 2.8, 4.6, 1.5, 'versicolor'],
       [55, 5.7, 2.8, 4.5, 1.3, 'versicolor'],
       [56, 6.3, 3.3, 4.7, 1.6, 'versicolor'],
       [57, 4.9, 2.4, 3.3, 1.0, 'versicolor'],
       [58, 6.6, 2.9, 4.6, 1.3, 'versicolor'],
       [59, 5.2, 2.7, 3.9, 1.4, 'versicolor'],
       [60, 5.0, 2.0, 3.5, 1.0, 'versicolor'],
       [61, 5.9, 3.0, 4.2, 1.5, 'versicolor'],
       [62, 6.0, 2.2, 4.0, 1.0, 'versicolor'],
       [63, 6.1, 2.9, 4.7, 1.4, 'versicolor'],
       [64, 5.6, 2.9, 3.6, 1.3, 'versicolor'],
       [65, 6.7, 3.1, 4.4, 1.4, 'versicolor'],
       [66, 5.6, 3.0, 4.5, 1.5, 'versicolor'],
       [67, 5.8, 2.7, 4.1, 1.0, 'versicolor'],
       [68, 6.2, 2.2, 4.5, 1.5, 'versicolor'],
       [69, 5.6, 2.5, 3.9, 1.1, 'versicolor'],
       [70, 5.9, 3.2, 4.8, 1.8, 'versicolor'],
       [71, 6.1, 2.8, 4.0, 1.3, 'versicolor'],
       [72, 6.3, 2.5, 4.9, 1.5, 'versicolor'],
       [73, 6.1, 2.8, 4.7, 1.2, 'versicolor'],
       [74, 6.4, 2.9, 4.3, 1.3, 'versicolor'],
       [75, 6.6, 3.0, 4.4, 1.4, 'versicolor'],
       [76, 6.8, 2.8, 4.8, 1.4, 'versicolor'],
       [77, 6.7, 3.0, 5.0, 1.7, 'versicolor'],
       [78, 6.0, 2.9, 4.5, 1.5, 'versicolor'],
       [79, 5.7, 2.6, 3.5, 1.0, 'versicolor'],
       [80, 5.5, 2.4, 3.8, 1.1, 'versicolor'],
       [81, 5.5, 2.4, 3.7, 1.0, 'versicolor'],
       [82, 5.8, 2.7, 3.9, 1.2, 'versicolor'],
       [83, 6.0, 2.7, 5.1, 1.6, 'versicolor'],
       [84, 5.4, 3.0, 4.5, 1.5, 'versicolor'],
       [85, 6.0, 3.4, 4.5, 1.6, 'versicolor'],
       [86, 6.7, 3.1, 4.7, 1.5, 'versicolor'],
       [87, 6.3, 2.3, 4.4, 1.3, 'versicolor'],
       [88, 5.6, 3.0, 4.1, 1.3, 'versicolor'],
       [89, 5.5, 2.5, 4.0, 1.3, 'versicolor'],
       [90, 5.5, 2.6, 4.4, 1.2, 'versicolor'],
       [91, 6.1, 3.0, 4.6, 1.4, 'versicolor'],
       [92, 5.8, 2.6, 4.0, 1.2, 'versicolor'],
       [93, 5.0, 2.3, 3.3, 1.0, 'versicolor'],
       [94, 5.6, 2.7, 4.2, 1.3, 'versicolor'],
       [95, 5.7, 3.0, 4.2, 1.2, 'versicolor'],
       [96, 5.7, 2.9, 4.2, 1.3, 'versicolor'],
       [97, 6.2, 2.9, 4.3, 1.3, 'versicolor'],
       [98, 5.1, 2.5, 3.0, 1.1, 'versicolor'],
       [99, 5.7, 2.8, 4.1, 1.3, 'versicolor'],
       [100, 6.3, 3.3, 6.0, 2.5, 'virginica'],
       [101, 5.8, 2.7, 5.1, 1.9, 'virginica'],
       [102, 7.1, 3.0, 5.9, 2.1, 'virginica'],
       [103, 6.3, 2.9, 5.6, 1.8, 'virginica'],
       [104, 6.5, 3.0, 5.8, 2.2, 'virginica'],
       [105, 7.6, 3.0, 6.6, 2.1, 'virginica'],
       [106, 4.9, 2.5, 4.5, 1.7, 'virginica'],
       [107, 7.3, 2.9, 6.3, 1.8, 'virginica'],
       [108, 6.7, 2.5, 5.8, 1.8, 'virginica'],
       [109, 7.2, 3.6, 6.1, 2.5, 'virginica'],
       [110, 6.5, 3.2, 5.1, 2.0, 'virginica'],
       [111, 6.4, 2.7, 5.3, 1.9, 'virginica'],
       [112, 6.8, 3.0, 5.5, 2.1, 'virginica'],
       [113, 5.7, 2.5, 5.0, 2.0, 'virginica'],
       [114, 5.8, 2.8, 5.1, 2.4, 'virginica'],
       [115, 6.4, 3.2, 5.3, 2.3, 'virginica'],
       [116, 6.5, 3.0, 5.5, 1.8, 'virginica'],
       [117, 7.7, 3.8, 6.7, 2.2, 'virginica'],
       [118, 7.7, 2.6, 6.9, 2.3, 'virginica'],
       [119, 6.0, 2.2, 5.0, 1.5, 'virginica'],
       [120, 6.9, 3.2, 5.7, 2.3, 'virginica'],
       [121, 5.6, 2.8, 4.9, 2.0, 'virginica'],
       [122, 7.7, 2.8, 6.7, 2.0, 'virginica'],
       [123, 6.3, 2.7, 4.9, 1.8, 'virginica'],
       [124, 6.7, 3.3, 5.7, 2.1, 'virginica'],
       [125, 7.2, 3.2, 6.0, 1.8, 'virginica'],
       [126, 6.2, 2.8, 4.8, 1.8, 'virginica'],
       [127, 6.1, 3.0, 4.9, 1.8, 'virginica'],
       [128, 6.4, 2.8, 5.6, 2.1, 'virginica'],
       [129, 7.2, 3.0, 5.8, 1.6, 'virginica'],
       [130, 7.4, 2.8, 6.1, 1.9, 'virginica'],
       [131, 7.9, 3.8, 6.4, 2.0, 'virginica'],
       [132, 6.4, 2.8, 5.6, 2.2, 'virginica'],
       [133, 6.3, 2.8, 5.1, 1.5, 'virginica'],
       [134, 6.1, 2.6, 5.6, 1.4, 'virginica'],
       [135, 7.7, 3.0, 6.1, 2.3, 'virginica'],
       [136, 6.3, 3.4, 5.6, 2.4, 'virginica'],
       [137, 6.4, 3.1, 5.5, 1.8, 'virginica'],
       [138, 6.0, 3.0, 4.8, 1.8, 'virginica'],
       [139, 6.9, 3.1, 5.4, 2.1, 'virginica'],
       [140, 6.7, 3.1, 5.6, 2.4, 'virginica'],
       [141, 6.9, 3.1, 5.1, 2.3, 'virginica'],
       [142, 5.8, 2.7, 5.1, 1.9, 'virginica'],
       [143, 6.8, 3.2, 5.9, 2.3, 'virginica'],
       [144, 6.7, 3.3, 5.7, 2.5, 'virginica'],
       [145, 6.7, 3.0, 5.2, 2.3, 'virginica'],
       [146, 6.3, 2.5, 5.0, 1.9, 'virginica'],
       [147, 6.5, 3.0, 5.2, 2.0, 'virginica'],
       [148, 6.2, 3.4, 5.4, 2.3, 'virginica'],
       [149, 5.9, 3.0, 5.1, 1.8, 'virginica']], dtype=object)

In [21]:
df.values.tolist()

[[0, 5.1, 3.5, 1.4, 0.2, 'setosa'],
 [1, 4.9, 3.0, 1.4, 0.2, 'setosa'],
 [2, 4.7, 3.2, 1.3, 0.2, 'setosa'],
 [3, 4.6, 3.1, 1.5, 0.2, 'setosa'],
 [4, 5.0, 3.6, 1.4, 0.2, 'setosa'],
 [5, 5.4, 3.9, 1.7, 0.4, 'setosa'],
 [6, 4.6, 3.4, 1.4, 0.3, 'setosa'],
 [7, 5.0, 3.4, 1.5, 0.2, 'setosa'],
 [8, 4.4, 2.9, 1.4, 0.2, 'setosa'],
 [9, 4.9, 3.1, 1.5, 0.1, 'setosa'],
 [10, 5.4, 3.7, 1.5, 0.2, 'setosa'],
 [11, 4.8, 3.4, 1.6, 0.2, 'setosa'],
 [12, 4.8, 3.0, 1.4, 0.1, 'setosa'],
 [13, 4.3, 3.0, 1.1, 0.1, 'setosa'],
 [14, 5.8, 4.0, 1.2, 0.2, 'setosa'],
 [15, 5.7, 4.4, 1.5, 0.4, 'setosa'],
 [16, 5.4, 3.9, 1.3, 0.4, 'setosa'],
 [17, 5.1, 3.5, 1.4, 0.3, 'setosa'],
 [18, 5.7, 3.8, 1.7, 0.3, 'setosa'],
 [19, 5.1, 3.8, 1.5, 0.3, 'setosa'],
 [20, 5.4, 3.4, 1.7, 0.2, 'setosa'],
 [21, 5.1, 3.7, 1.5, 0.4, 'setosa'],
 [22, 4.6, 3.6, 1.0, 0.2, 'setosa'],
 [23, 5.1, 3.3, 1.7, 0.5, 'setosa'],
 [24, 4.8, 3.4, 1.9, 0.2, 'setosa'],
 [25, 5.0, 3.0, 1.6, 0.2, 'setosa'],
 [26, 5.0, 3.4, 1.6, 0.4, 'setosa'],
 [27, 5.2, 3.5, 1.5, 0.2, 'setosa'],
 [28, 5.2, 3.4, 1.4, 0.2, 'setosa'],
 [29, 4.7, 3.2, 1.6, 0.2, 'setosa'],
 [30, 4.8, 3.1, 1.6, 0.2, 'setosa'],
 [31, 5.4, 3.4, 1.5, 0.4, 'setosa'],
 [32, 5.2, 4.1, 1.5, 0.1, 'setosa'],
 [33, 5.5, 4.2, 1.4, 0.2, 'setosa'],
 [34, 4.9, 3.1, 1.5, 0.2, 'setosa'],
 [35, 5.0, 3.2, 1.2, 0.2, 'setosa'],
 [36, 5.5, 3.5, 1.3, 0.2, 'setosa'],
 [37, 4.9, 3.6, 1.4, 0.1, 'setosa'],
 [38, 4.4, 3.0, 1.3, 0.2, 'setosa'],
 [39, 5.1, 3.4, 1.5, 0.2, 'setosa'],
 [40, 5.0, 3.5, 1.3, 0.3, 'setosa'],
 [41, 4.5, 2.3, 1.3, 0.3, 'setosa'],
 [42, 4.4, 3.2, 1.3, 0.2, 'setosa'],
 [43, 5.0, 3.5, 1.6, 0.6, 'setosa'],
 [44, 5.1, 3.8, 1.9, 0.4, 'setosa'],
 [45, 4.8, 3.0, 1.4, 0.3, 'setosa'],
 [46, 5.1, 3.8, 1.6, 0.2, 'setosa'],
 [47, 4.6, 3.2, 1.4, 0.2, 'setosa'],
 [48, 5.3, 3.7, 1.5, 0.2, 'setosa'],
 [49, 5.0, 3.3, 1.4, 0.2, 'setosa'],
 [50, 7.0, 3.2, 4.7, 1.4, 'versicolor'],
 [51, 6.4, 3.2, 4.5, 1.5, 'versicolor'],
 [52, 6.9, 3.1, 4.9, 1.5, 'versicolor'],
 [53, 5.5, 2.3, 4.0, 1.3, 'versicolor'],
 [54, 6.5, 2.8, 4.6, 1.5, 'versicolor'],
 [55, 5.7, 2.8, 4.5, 1.3, 'versicolor'],
 [56, 6.3, 3.3, 4.7, 1.6, 'versicolor'],
 [57, 4.9, 2.4, 3.3, 1.0, 'versicolor'],
 [58, 6.6, 2.9, 4.6, 1.3, 'versicolor'],
 [59, 5.2, 2.7, 3.9, 1.4, 'versicolor'],
 [60, 5.0, 2.0, 3.5, 1.0, 'versicolor'],
 [61, 5.9, 3.0, 4.2, 1.5, 'versicolor'],
 [62, 6.0, 2.2, 4.0, 1.0, 'versicolor'],
 [63, 6.1, 2.9, 4.7, 1.4, 'versicolor'],
 [64, 5.6, 2.9, 3.6, 1.3, 'versicolor'],
 [65, 6.7, 3.1, 4.4, 1.4, 'versicolor'],
 [66, 5.6, 3.0, 4.5, 1.5, 'versicolor'],
 [67, 5.8, 2.7, 4.1, 1.0, 'versicolor'],
 [68, 6.2, 2.2, 4.5, 1.5, 'versicolor'],
 [69, 5.6, 2.5, 3.9, 1.1, 'versicolor'],
 [70, 5.9, 3.2, 4.8, 1.8, 'versicolor'],
 [71, 6.1, 2.8, 4.0, 1.3, 'versicolor'],
 [72, 6.3, 2.5, 4.9, 1.5, 'versicolor'],
 [73, 6.1, 2.8, 4.7, 1.2, 'versicolor'],
 [74, 6.4, 2.9, 4.3, 1.3, 'versicolor'],
 [75, 6.6, 3.0, 4.4, 1.4, 'versicolor'],
 [76, 6.8, 2.8, 4.8, 1.4, 'versicolor'],
 [77, 6.7, 3.0, 5.0, 1.7, 'versicolor'],
 [78, 6.0, 2.9, 4.5, 1.5, 'versicolor'],
 [79, 5.7, 2.6, 3.5, 1.0, 'versicolor'],
 [80, 5.5, 2.4, 3.8, 1.1, 'versicolor'],
 [81, 5.5, 2.4, 3.7, 1.0, 'versicolor'],
 [82, 5.8, 2.7, 3.9, 1.2, 'versicolor'],
 [83, 6.0, 2.7, 5.1, 1.6, 'versicolor'],
 [84, 5.4, 3.0, 4.5, 1.5, 'versicolor'],
 [85, 6.0, 3.4, 4.5, 1.6, 'versicolor'],
 [86, 6.7, 3.1, 4.7, 1.5, 'versicolor'],
 [87, 6.3, 2.3, 4.4, 1.3, 'versicolor'],
 [88, 5.6, 3.0, 4.1, 1.3, 'versicolor'],
 [89, 5.5, 2.5, 4.0, 1.3, 'versicolor'],
 [90, 5.5, 2.6, 4.4, 1.2, 'versicolor'],
 [91, 6.1, 3.0, 4.6, 1.4, 'versicolor'],
 [92, 5.8, 2.6, 4.0, 1.2, 'versicolor'],
 [93, 5.0, 2.3, 3.3, 1.0, 'versicolor'],
 [94, 5.6, 2.7, 4.2, 1.3, 'versicolor'],
 [95, 5.7, 3.0, 4.2, 1.2, 'versicolor'],
 [96, 5.7, 2.9, 4.2, 1.3, 'versicolor'],
 [97, 6.2, 2.9, 4.3, 1.3, 'versicolor'],
 [98, 5.1, 2.5, 3.0, 1.1, 'versicolor'],
 [99, 5.7, 2.8, 4.1, 1.3, 'versicolor'],
 [100, 6.3, 3.3, 6.0, 2.5, 'virginica'],
 [101, 5.8, 2.7, 5.1, 1.9, 'virginica'],
 [102, 7.1, 3.0, 5.9, 2.1, 'virginica'],
 [103, 6.3, 2.9, 5.6, 1.8, 'virginica'],
 [104, 6.5, 3.0, 5.8, 2.2, 'virginica'],
 [105, 7.6, 3.0, 6.6, 2.1, 'virginica'],
 [106, 4.9, 2.5, 4.5, 1.7, 'virginica'],
 [107, 7.3, 2.9, 6.3, 1.8, 'virginica'],
 [108, 6.7, 2.5, 5.8, 1.8, 'virginica'],
 [109, 7.2, 3.6, 6.1, 2.5, 'virginica'],
 [110, 6.5, 3.2, 5.1, 2.0, 'virginica'],
 [111, 6.4, 2.7, 5.3, 1.9, 'virginica'],
 [112, 6.8, 3.0, 5.5, 2.1, 'virginica'],
 [113, 5.7, 2.5, 5.0, 2.0, 'virginica'],
 [114, 5.8, 2.8, 5.1, 2.4, 'virginica'],
 [115, 6.4, 3.2, 5.3, 2.3, 'virginica'],
 [116, 6.5, 3.0, 5.5, 1.8, 'virginica'],
 [117, 7.7, 3.8, 6.7, 2.2, 'virginica'],
 [118, 7.7, 2.6, 6.9, 2.3, 'virginica'],
 [119, 6.0, 2.2, 5.0, 1.5, 'virginica'],
 [120, 6.9, 3.2, 5.7, 2.3, 'virginica'],
 [121, 5.6, 2.8, 4.9, 2.0, 'virginica'],
 [122, 7.7, 2.8, 6.7, 2.0, 'virginica'],
 [123, 6.3, 2.7, 4.9, 1.8, 'virginica'],
 [124, 6.7, 3.3, 5.7, 2.1, 'virginica'],
 [125, 7.2, 3.2, 6.0, 1.8, 'virginica'],
 [126, 6.2, 2.8, 4.8, 1.8, 'virginica'],
 [127, 6.1, 3.0, 4.9, 1.8, 'virginica'],
 [128, 6.4, 2.8, 5.6, 2.1, 'virginica'],
 [129, 7.2, 3.0, 5.8, 1.6, 'virginica'],
 [130, 7.4, 2.8, 6.1, 1.9, 'virginica'],
 [131, 7.9, 3.8, 6.4, 2.0, 'virginica'],
 [132, 6.4, 2.8, 5.6, 2.2, 'virginica'],
 [133, 6.3, 2.8, 5.1, 1.5, 'virginica'],
 [134, 6.1, 2.6, 5.6, 1.4, 'virginica'],
 [135, 7.7, 3.0, 6.1, 2.3, 'virginica'],
 [136, 6.3, 3.4, 5.6, 2.4, 'virginica'],
 [137, 6.4, 3.1, 5.5, 1.8, 'virginica'],
 [138, 6.0, 3.0, 4.8, 1.8, 'virginica'],
 [139, 6.9, 3.1, 5.4, 2.1, 'virginica'],
 [140, 6.7, 3.1, 5.6, 2.4, 'virginica'],
 [141, 6.9, 3.1, 5.1, 2.3, 'virginica'],
 [142, 5.8, 2.7, 5.1, 1.9, 'virginica'],
 [143, 6.8, 3.2, 5.9, 2.3, 'virginica'],
 [144, 6.7, 3.3, 5.7, 2.5, 'virginica'],
 [145, 6.7, 3.0, 5.2, 2.3, 'virginica'],
 [146, 6.3, 2.5, 5.0, 1.9, 'virginica'],
 [147, 6.5, 3.0, 5.2, 2.0, 'virginica'],
 [148, 6.2, 3.4, 5.4, 2.3, 'virginica'],
 [149, 5.9, 3.0, 5.1, 1.8, 'virginica']]

In [22]:
# chaining commands

df.head().to_dict()
# df.to_dict(orient='index')
# df.to_dict(orient='rows')

{'index': {0: 0, 1: 1, 2: 2, 3: 3, 4: 4},
 'sepal_length': {0: 5.1, 1: 4.9, 2: 4.7, 3: 4.6, 4: 5.0},
 'sepal_width': {0: 3.5, 1: 3.0, 2: 3.2, 3: 3.1, 4: 3.6},
 'petal_length': {0: 1.4, 1: 1.4, 2: 1.3, 3: 1.5, 4: 1.4},
 'petal_width': {0: 0.2, 1: 0.2, 2: 0.2, 3: 0.2, 4: 0.2},
 'species': {0: 'setosa', 1: 'setosa', 2: 'setosa', 3: 'setosa', 4: 'setosa'}}

### Inspecting a dataset without pandas to determine delimeter or size

In [23]:
# previewing the delimeter without manually opening the file (ex: may be too big for text editor, etc)

# we can see it's comma-delimited
with open('./data/planets.csv') as f:
    print(f.readline())
    print(f.readline())

method,number,orbital_period,mass,distance,year

Radial Velocity,1,269.3,7.1,77.4,2006

In [24]:
# getting the size using a generator (safe for limited RAM)
# next() throws StopIteration error once all records are "consumed"
n_rows = 0
with open('./data/planets.csv') as f:
    while True:
        try:
            next(f)
            n_rows += 1
        except StopIteration:
            break

# includes header
print(f'There are {n_rows} rows in planets.csv')

There are 1036 rows in planets.csv

<font color='blue'> 
### Exercises
* Create this dataframe from a Python list of lists or a dictionary:
```
|    |   a |   b |
|---:|----:|----:|
|  0 |   1 |   4 |
|  1 |   2 |   5 |
|  2 |   3 |   6 |
```

* load the ./data/planets.csv data set using `pd.read_csv()` into a dataframe named `planets_df`
* display the first 5 records
* dispay the first 10 records
* display the last 5 records
* print each file name in the `/data` directory using a `os.listdir()` and a for loop
* bonus: display the filename and column names for each file in `data/`
    * hint: loop through each dataframe in ./data/* directory using `os.listdir`
    * read the dataset into a dataframe
    * use df.columns

</font>

In [25]:
# %load ./solutions/01-01.py

# Selecting Data

In [26]:
iris = pd.read_csv('./data/iris.csv')

### Selecting with "label-based" method (column name as string)

In [27]:
# notice how passing one string returns a Series. Put it in a list to get a dataframe back instead.
print(type(iris['sepal_length']))

iris['sepal_length']

<class 'pandas.core.series.Series'>

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [28]:
iris[['sepal_length']].head()

   sepal_length
0           5.1
1           4.9
2           4.7
3           4.6
4           5.0

In [29]:
iris[['sepal_length', 'species']].head()

   sepal_length species
0           5.1  setosa
1           4.9  setosa
2           4.7  setosa
3           4.6  setosa
4           5.0  setosa

### Selecting (indexing) data with .loc vs .iloc
* .loc is label-based
* .iloc is index location based on position
* distinction may be important if you have column names that are numbers (good practice to avoid)

In [30]:
# df.loc[[<rows>], [<columns>]]

# ':' short hand for all rows
iris.loc[:, ['species']]

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

In [31]:
# 2 to 4th position
# notice how index position 4 is returned unlike Python list slice behavior (excludes end #)
iris.loc[2:4, ['species']]

  species
2  setosa
3  setosa
4  setosa

In [32]:
# Python list slice demoe
x_list = [0, 1, 2, 3, 4]
x_list[2:4]

[2, 3]

# "dot" notation

* You might see this in others' code. Avoid this pattern when possible. 
* Leads to trouble for column names that do not support Python methods.

```python
# invalid
df.999
df.column with space
```

In [33]:
iris.species

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [34]:
iris.sepal_length

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

# Boolean Indexing/Filtering
* use of boolean indexes to filter
* use `&` (and) operator
* use of `|` (or) pipe operator
* use of `Series.isin(<iterable>)` and `not`

In [35]:
# reset
iris = sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [36]:
iris['species'] == 'virginica'

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: species, Length: 150, dtype: bool

In [37]:
(iris['species'] == 'virginica').sum()

50

In [38]:
# give me all records where species = virginica 

virginica = iris[iris['species'] == 'virginica']
virginica.head()

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica

### Multiple conditions

This

```python
virginica_bool = df['species'] == 'virginica'
pw_greater_than_2_bool = df['petal_width'] > 2
filtered = df[virginica_bool & pw_greater_than_2_bool]
```
is the same as

```python
filtered = df[(df['species'] == 'virginica') & (df['petal_width'] > 2)]
```

Former has better readability when conditions get complicated.

In [39]:
virginica_bool = iris['species'] == 'virginica'
pw_greater_than_2_bool = iris['petal_width'] > 2

virg_and_gt2 = virginica_bool & pw_greater_than_2_bool 
filtered_AND = iris[virginica_bool & pw_greater_than_2_bool]
filtered_OR = iris[virginica_bool | pw_greater_than_2_bool]
# filtered_AND = df[virginica_bool & pw_greater_than_2_bool]

In [40]:
# df.shape returns a tuple: (n_rows, n_columns)

filtered_AND.shape

(23, 5)

In [41]:
filtered_OR.shape

(50, 5)

In [42]:
filtered_OR.head()

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica

In [43]:
# ~ tilda --> not operator
# wrap with parentheses

# where species is not `setosa`
iris[~(iris['species']=='setosa')]

     sepal_length  sepal_width  petal_length  petal_width     species
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

[100 rows x 5 columns]

In [44]:
# where species is in [list]
iris[iris['species'].isin(['virginica', 'versicolor'])]

     sepal_length  sepal_width  petal_length  petal_width     species
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

[100 rows x 5 columns]

### Selecting by data type

In [45]:
# selecting all floats
iris.select_dtypes(float).head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [46]:
# selecting all objects/strings

iris.select_dtypes('object').head()

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

<font color='blue'> 
### Exercises
* load the planets.csv data set into a dataframe
* select the `method` column and store in a dataframe called `method_df`
* select both the `mass` and `distance` columns
* use a boolean index to select records where the value 'method' is 'Imaging'
* use a boolean index with mulitple conditions to records where the value 'method' is 'Imaging'  and the year is 2011
* select all columns of integer data type using `df.selectdtypes('int')`
</font>

### Math operations
* df.mean()
* df.sum()
* df.std()
* column / vector math

In [47]:
# on whole dataframe
iris.mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [48]:
# on select column
iris['sepal_length'].mean()

5.843333333333334

In [49]:
iris[['sepal_length', 'sepal_width']].mean()

sepal_length    5.843333
sepal_width     3.057333
dtype: float64

In [50]:
iris.sum()

sepal_length                                                876.5
sepal_width                                                 458.6
petal_length                                                563.7
petal_width                                                 179.9
species         setosasetosasetosasetosasetosasetosasetosaseto...
dtype: object

In [51]:
iris.std()

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64

In [52]:
# can do math on columns
# this is also known as a "vectorized" function since we are operating with the whole column/row
    # as opposed to an explicit row-by-row loop 
    # vectorized functions push the loops down to much faster C level (standard Python written C language)

iris['sepal_length'] * iris['sepal_width']

0      17.85
1      14.70
2      15.04
3      14.26
4      18.00
       ...
145    20.10
146    15.75
147    19.50
148    21.08
149    17.70
Length: 150, dtype: float64

### Operations across columns

Ex: `df.sum(axis='columns')`

In [53]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [54]:
# get row 3
# columns: petal_lenth, petal_width

one_row = iris.loc[[3], ['petal_length', 'petal_width']]
one_row

   petal_length  petal_width
3           1.5          0.2

In [55]:
# use axis='columns' or axis=1
    # axis=1 applies across columns (think shape of 1 looks tall like column)
one_row.sum(axis='columns')

3    1.7
dtype: float64

In [56]:
# more idiomatic way to sum across columns
one_row['petal_length'] + one_row['petal_width']

3    1.7
dtype: float64

In [57]:
# default behavior for math is to apply across rows
# one_row.sum()

one_row.sum(axis='rows')

petal_length    1.5
petal_width     0.2
dtype: float64

<font color='blue'> 
### Exercises
* load the flights.csv data set into a dataframe
* identify the total number of passengers for the year 1960
    * hint: boolean index for year condition, use .loc to get passenger column, then .sum()
* identify the average/mean monthly number of passengers for the year 1955

</font>

In [58]:
# %load ./solutions/01-02.py

### Sorting

`df.sort_values(by=column_list, ascending=list_of_bools)`

In [59]:
# primary sort arguments
    # pass list of columns to sort by
    # pass True/False bool for order
# does not sort in place! must re-assign
    # ex: `df = df.sort_values(...)
    
sorted_df = iris.sort_values(by=['species', 'petal_length'], ascending=[False, True])
sorted_df.head()

     sepal_length  sepal_width  petal_length  petal_width    species
106           4.9          2.5           4.5          1.7  virginica
126           6.2          2.8           4.8          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
121           5.6          2.8           4.9          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica

<font color='blue'> 
### Exercises
* load the mpg.csv data set
* return a dataframe of the model name sorted in order of descending weight
* return a dataframe sorted by `origin` and model name (`name`) in ascending order for both

</font>

In [60]:
# %load ./solutions/01-03.py

### Profiling data
* df.head()
* df.describe()
* df.value_counts()
* df.dtypes
* df.info()

In [61]:
# inspect with .head()/.tail()

iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [62]:
# df.describe() --> descriptive statistics
# defaults to numeric columns. Use include='all' to include counts for categorical values too

iris.describe()
# df.describe(include='all')

# transpose
# df.describe(include='all').T

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [63]:
iris['species'].value_counts()

versicolor    50
setosa        50
virginica     50
Name: species, dtype: int64

In [64]:
iris['species'].value_counts(normalize=True)

versicolor    0.333333
setosa        0.333333
virginica     0.333333
Name: species, dtype: float64

In [65]:
iris['species'].value_counts(dropna=False)

versicolor    50
setosa        50
virginica     50
Name: species, dtype: int64

In [66]:
# data types
    # 'object'/string data types are heavier on memory usage
    # SQL principles apply -- aggregate early before adding labels
    # in later session, we can show how to convert to pandas Categorical data type for efficiency

iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [67]:
iris.info()
# iris.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

<font color='blue'> 
### Exercises
* load the diamonds.csv data set
* identify the distribution for the 'cut' variable with counts by value
* identify the percentage distribution
* add the `dropna=False` argument to make sure there are no null values

</font>

In [68]:
# %load ./solutions/01-04.py

# Modifying data

### New columns with `df['new_col'] = <some operation>`

In [69]:
iris = sns.load_dataset('iris').head()
iris

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [70]:
iris['species_upper'] = iris['species'].str.upper()
iris

   sepal_length  sepal_width  petal_length  petal_width species species_upper
0           5.1          3.5           1.4          0.2  setosa        SETOSA
1           4.9          3.0           1.4          0.2  setosa        SETOSA
2           4.7          3.2           1.3          0.2  setosa        SETOSA
3           4.6          3.1           1.5          0.2  setosa        SETOSA
4           5.0          3.6           1.4          0.2  setosa        SETOSA

In [71]:
iris['sepal_area'] = iris['sepal_length'] * iris['sepal_width']
iris

,sepal_length,sepal_width,petal_length,petal_width,species,species_upper,sepal_area
0,5.1,3.5,1.4,0.2,setosa,SETOSA,17.85
1,4.9,3.0,1.4,0.2,setosa,SETOSA,14.70
2,4.7,3.2,1.3,0.2,setosa,SETOSA,15.04
3,4.6,3.1,1.5,0.2,setosa,SETOSA,14.26
4,5.0,3.6,1.4,0.2,setosa,SETOSA,18.00

### Renaming columns with `df.columns = column_list` or `df = df.rename(columns=<dict>)`

In [72]:
columns = iris.columns.tolist()
columns

['sepal_length',
 'sepal_width',
 'petal_length',
 'petal_width',
 'species',
 'species_upper',
 'sepal_area']

In [73]:
# rename group of columns
iris.columns = ['SEPAL_LENGTH', 'SEPAL_WIDTH', 'PETAL_LENGTH', 'PETAL_WIDTH', 'SPECIES', 'SPECIES_UPPER', 'SEPAL_AREA']
iris

,SEPAL_LENGTH,SEPAL_WIDTH,PETAL_LENGTH,PETAL_WIDTH,SPECIES,SPECIES_UPPER,SEPAL_AREA
0,5.1,3.5,1.4,0.2,setosa,SETOSA,17.85
1,4.9,3.0,1.4,0.2,setosa,SETOSA,14.70
2,4.7,3.2,1.3,0.2,setosa,SETOSA,15.04
3,4.6,3.1,1.5,0.2,setosa,SETOSA,14.26
4,5.0,3.6,1.4,0.2,setosa,SETOSA,18.00

In [74]:
# not modified in-place

iris.rename(columns={'SEPAL_LENGTH': 'sepal_length'})

,sepal_length,SEPAL_WIDTH,PETAL_LENGTH,PETAL_WIDTH,SPECIES,SPECIES_UPPER,SEPAL_AREA
0,5.1,3.5,1.4,0.2,setosa,SETOSA,17.85
1,4.9,3.0,1.4,0.2,setosa,SETOSA,14.70
2,4.7,3.2,1.3,0.2,setosa,SETOSA,15.04
3,4.6,3.1,1.5,0.2,setosa,SETOSA,14.26
4,5.0,3.6,1.4,0.2,setosa,SETOSA,18.00

### Modifying data types with `df['column'].astype(< type >)`

In [75]:
iris = sns.load_dataset('iris').head()

iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [76]:
iris['sepal_length'].astype(int)

0    5
1    4
2    4
3    4
4    5
Name: sepal_length, dtype: int32

In [77]:
iris[['sepal_length', 'sepal_width']].astype(int)

   sepal_length  sepal_width
0             5            3
1             4            3
2             4            3
3             4            3
4             5            3

In [78]:
# early changes did not modify in-place
iris

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [79]:
# need to re-assign for changes to take effect
iris[['sepal_length', 'sepal_width']] = iris[['sepal_length', 'sepal_width']].astype(int)

In [80]:
iris

   sepal_length  sepal_width  petal_length  petal_width species
0             5            3           1.4          0.2  setosa
1             4            3           1.4          0.2  setosa
2             4            3           1.3          0.2  setosa
3             4            3           1.5          0.2  setosa
4             5            3           1.4          0.2  setosa

In [81]:
# perhaps you need to convert a year to a string for formatting operations

year_df = pd.DataFrame([2020, 2019, 2018, 2017, 2016], columns=['year'])
year_df['year'] = year_df['year'].astype(str)

print(year_df.dtypes)
year_df

year    object
dtype: object

   year
0  2020
1  2019
2  2018
3  2017
4  2016

<font color='blue'> 
### Exercises
* load the mpg.csv data set
* create a column called 'pw_ratio' and calculate the power to 10-pound weight ratio
    * power-to-10lb-weight ratio = (horsepower / weight)*10
* sort the data set from highest to lowest power-weight ratio
* create a dataframe for each country of origin (fitler using boolean indexing)
     * use value_counts() on 'origin' field to determine the unique values
* for each origin country, determine the model with the highest power-weight ratio and ratio
   * 
   * this is a manual application Group By
   * check your answer against the result of `mpg_df.groupby(['origin'])[['pw_ratio']].max().T`
   * or check against:
    ```python
    max_ratio_list = mpg.groupby(['origin'])[['pw_ratio']].max()['pw_ratio']
    mpg.loc[mpg['pw_ratio'].isin(max_ratio_list), ['origin', 'name', 'pw_ratio']]
    ```

</font>

In [82]:
# %load ./solutions/01-05.py

In [83]:
# max_ratio_list = mpg.groupby(['origin'])[['pw_ratio']].max()['pw_ratio']
# mpg.loc[mpg['pw_ratio'].isin(max_ratio_list), ['origin', 'name', 'pw_ratio']]

# End